.ReportCriteriaValue
{
    width: 450px;
    margin-top: 2px;
    float: left;
}

.ReportCriteriaLabel
{
    float: left;
    display: inline;
    width: 168px;
    margin: 0px 0px 0px 0px;
    padding-bottom: 2px;
    padding-top: 2px;
}
    
.ReportPanel
{
    float:left;
    padding-bottom: 5px;
}

.ReportDlAlign
{
    width:100%;
    overflow:hidden;
}

.ReportDtAlign
{
    float:left;
    width: 168px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.ReportDdAlign
{
    float:left;
    width:450px;
    padding-bottom: 2px;
    padding-top: 2px;
}